:root {
    --slate-grey: hsl(234, 29%, 20%);
    --charcoal: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --tomato: hsl(4, 100%, 67%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: var(--slate-grey);
    /* list-style-position: inside; */
}

body {
    background-color: var(--charcoal);
}

h1 {
    font-size: 3rem;
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 2rem;
}

.hidden {
    display: none !important;
}

#sub-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 2rem;
    padding: 1.5rem;
    & h1 {
        line-height: 1;
    }
}

#icon-success {
    max-height: auto;
    max-width: 4rem;
}

#left-content {
    gap: 1rem;
    justify-content: center;
    max-width: 100%;
    padding: 2rem;
}

#subscription-complete {
    display: none;
}

.flex-cl {
    display: flex;
    flex-direction: column;
}

.email-field {
    gap: 8px;
}

#main-form {
    gap: 1.5rem;
}

.ib-default {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: none;
    border: none;
    font-size: 1rem;
}

#email {
    border: 1px solid lightgrey;
    /* outline: 1px solid var(--slate-grey); */
}

#user-email {
    font-weight: 600;
}

.btn {
    background-color: var(--slate-grey);
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
}

.btn:hover {
    background: rgb(233, 79, 183);
    background: linear-gradient(
        77deg,
        rgba(233, 79, 183, 1) 9%,
        rgba(255, 102, 0, 1) 100%
    );
}

li::marker {
    content: url("/assets/images/icon-list.svg");
}

ul > li {
    padding-left: 12px;
}

ul {
    margin-left: 20px;
}

img {
    max-width: 100%;
}

.email-label {
    font-size: 12px;
    font-weight: 600;
}

.invalid-label {
    color: var(--tomato);
    display: none;
}

.invalid-input {
    color: var(--tomato);
    border: 2px solid var(--tomato);
    font-size: 1rem;
    background-color: #ffe8e6;
    outline: none;
}

@media (orientation: landscape) {
    #main-wrapper {
        display: flex;
        min-width: 740px;
    }
    #left-content,
    #right-image {
        flex-shrink: 1;
        flex-basis: 100%;
    }

    #right-image {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

@media (max-width: 960px), (orientation: portrait) {
    h1 {
        font-size: 13vw;
    }

    #container {
        height: 100%;
        width: 100%;
        border-radius: 0;
        padding: 0;
        margin: 0;
        align-items: center;
        overflow: hidden;
        & p {
            font-size: 5vw;
        }
        & li {
            font-size: 4vw;
        }
    }
    #main-wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 100%;
    }

    #main-page-illustration {
        width: 100vw;
        height: auto;
        /* object-fit: cover; */
    }

    #right-image {
        max-width: 100%;
        /* max-height: 40%; */
        flex-grow: 1;
    }

    #left-content {
        justify-content: flex-start;
        max-height: 100%;
        height: 100%;
    }

    #sub-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
    }

    #sw-top-section,
    #sw-bottom-section {
        /* flex-basis: 100%; */
        width: 100%;
        height: 100%;
        font-size: 1.3rem;
    }

    #sw-top-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        flex-basis: 80%;
    }
    #sw-bottom-section {
        display: flex;
        flex-basis: 20%;
        align-items: flex-end;
    }
    #dismiss-msg {
        width: 100%;
        font-size: 1.3rem;
        padding: 1.2rem;
        margin-bottom: 1.5rem;
    }
}
